@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');


.main{
height:100vh;
margin:0;
padding: 0;
}

/* Navbar starts here */
.Navbar {
  color: #fff;
  padding: 10px;
  font-family: Urbanist;
  font-weight: 100;
  position: absolute;
  width: max-content;
  
}

.Navbar a {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
}

.Navbar a:hover {
  color: #4AD016;
}

/* 
.myForms {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f0f0f0; 
}


/* .form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button[type="submit"] {
  width: 100%;
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button[type="submit"]:hover {
  background-color: #0056b3;
} */

/* .Home button {
  margin: 10px; 
  padding: 10px 20px; 
  font-size: 16px;
} */

.cart {
  position: relative;
  /* display: block; */
  width: 28px;
  height: 28px;
  height: auto;
  overflow: hidden;
  .material-icons {
    position: relative;
    /* top: 8px; */
    z-index: 1;
    font-size: 24px;
    color: white;
  }
  .count {
    position: absolute;
    top: -8px;
    right: -10px;
    z-index: 2;
    font-size: 11px;
    border-radius: 50%;
    background: #4AD016;
    width: 16px;
    height: 16px;
    line-height:16px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
}


.map-container{
  width: 30%;
  height: 50vh;
}

/* Homepage starts here */

.Home {
  background: url("https://i.postimg.cc/7hNdYBwY/bg1.jpg") no-repeat; background-size: cover;
  min-width: 100%;
  min-height: 100%;
}


/* Products Page starts here */
.ProductList {
  background-color: #052500;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 100%;
   
}

.productContainer {
  font-family: Urbanist;
  color: white;
  width:max-content;
  background-color: rgba(255, 255, 255, 0.1); 
  text-align: center;
  border-radius: 11px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  padding-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 10%;
}
.producttitle {
  font-weight: 600;
}
.productContainer a  {
  text-decoration: none;
  color: white;
}


.productContainer:hover {
  transform: scale(1.2);
}

.ProductContainerParent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.myBtns {
  border-radius: 18px !important;
  color: white !important;
  border: #4AD016;
}

.myBtns:hover {
  
  color: white !important;
  background-color: #4AD016 !important;
  
}

.searchinput {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 5% !important;
}

.Filter{
  display: flex;
  justify-content: space-around;
}
.categoryFilter{
  display: flex ;
  align-items: center;
}

.sortBy{
  display: flex;
  align-items: center;
}

.flex{
  display: flex;
}

.ProductListHeading {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 5% !important;
  font-family: Amatic SC;
  color: wheat;
  width: 39%;
  text-align: center;
  font-size: 50px;
  padding-top: 10%;
}

/* Login Page starts here */
.LoginPage {
  background-color: #052500;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 100vh;

}

.addph {
  font-family: Urbanist;
  color: white;
}

.RegPage {
  background-color: #052500;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 130vh;
   
}

.LoginParentHide {
  background-color: #052500;
  padding-top: 7%;
}

.LoginParent {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  background-color: rgba(255, 255, 255, 0.1); 
  width: max-content;
  border-radius: 11px;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 5% !important;
  
}

.UserParent {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  background-color: rgba(255, 255, 255, 0.1); 
  width: max-content;
  border-radius: 11px;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 5% !important;
  padding: 6%;
  justify-content: center;
  text-align: left;
  
}

.RegParent {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  background-color: rgba(255, 255, 255, 0.1); 
  width: max-content;
  border-radius: 11px;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 5% !important;
  
  
  
}

.LoginInfo {
  color: white;
  width: 400px;
  padding-left: 3%;
  padding-right: 3%;


}

.plantgif {
  color: white;
  width: max-content;
  background-color: white;
}

.myInput {
  background-color: rgba(255, 255, 255, 0.1) !important;; 
  border-radius: 18px !important;
  color: white !important;
  border: 1px solid white !important;

}

.LoginHeading {
  font-family:  Urbanist;
  font-weight: 600;
}

.changeColor {
  color:#4AD016;
}

.HomeHeading {
  font-family: Urbanist;
  font-weight: 700;
  color: white;
  font-size: 60px;
  line-height: 100%;
}

.homeParagraph {
  color: white;
  font-family: Urbanist;
  font-weight: 300;
  font-size: 20px;
  width: 80%;
}
.HomeParent {
  width: 45%;
  margin-top: 10%;
  margin-right: auto;
  margin-left: 5%;
  margin-bottom: 17%;
}
.hpbtn {
  border-radius: 18px !important;
  color: white !important;
  border: #4AD016 !important;
  background-color: #4AD016 !important;
  font-size: 17px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
 
}

.hpbtn:hover {
  background-color: #4bd01600 !important;
  border: #4AD016 solid 1px !important;
}

.ProductDetails {
  background-color: #052500;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 120vh;
   
}

.ProductDetailsParent {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  background-color: rgba(255, 255, 255, 0.1); 
  width: 60%;
  border-radius: 11px;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 5% !important;

}
.ProductInfoDisplay{
  font-family: Urbanist;
  color: white;
  width: 40%;
  margin-top: 8%;
}

.ProductInfoDisplay h2{
  font-weight: 600;
}
/* .productImageDisplay{
  

} */
.productImageDisplay:hover{
  transform: scale(1.1);

}

/* Cart Page Starts here */

.cartcont {
  display: flex;
  font-family: Urbanist;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  background-color: rgba(255, 255, 255, 0.1); 
  width: 25%;
  border-radius: 11px;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 5% !important;
  justify-content:center;
  text-align: center;
  padding: 5%;
 
}

.cartcont h1 {
  font-weight: 600;
  font-size: 25px;
}

.cartcont h3 {
  font-size: 25px;
}


.cartinfo {
  width: max-content
  
}

.carttotal {
  font-family: Urbanist;
  color: white;
  width: 25%;
  margin-right: auto !important;
  margin-left: auto !important;
  justify-content:center;

}
.carttotal h1 {
  font-size: 30px;
  font-weight: 600;
}

.ordercard {
  font-family: Urbanist;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19) !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.1) !important ; 
  width: 60%;
}

.CartPage {
  background-color: #052500;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 130vh;
   
}

td {
  width: 150vh;

}

th {
  width: 150vh;
}

.updateH {
  font-family: Urbanist;
  color: white;
}

.userpage {
  color: white;
  font-family: Urbanist;

}